# ignore env variable files
.env
*.env

# Ignore certificates and keys
certs/
*.pfx
*.key
*.crt

# Ignore Certbot data
certbot/

#ignore Docekr build caches
**/node_modules/
**/__pycache__/
*.pyc
.DS_Store

